.IconContainerNew {
display: flex;
flex-direction: column;
}

.DropDown {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    margin-top: 24px;
    transform: translateX(-5%);
}

.DropDownItem {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: solid 1px;
    padding: 5px;
    background-color: whitesmoke;
}


.DropDownItem > i {
    font-size: 30px;
    margin-right: 10px;
}