* {
    margin: 0;
    padding: 0;
}

/* CABEÇALHO DA PÁGINA */
header {
    display: flex;
    align-items: center;
    padding: 5px 0;
    background-color: mediumvioletred;
    flex-wrap: nowrap;
}

header button {
    margin-left: auto;
    margin-right: 10px;
    padding: 5px 15px;
    font-size: 14px;
}

header img, h1 {
    margin: 15px;
}

header img {
    margin-bottom: 20px;
}

header img {
    width: 30px;
}


/* CONTEÚDO DA PÁGINA */
.container {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2d0e0;
    height: 90vh;
    text-transform: uppercase;
    font-weight: bolder;
    width: 300px;
}

nav img, p {
margin: 10px;
}

nav img {
    width: 20px;
}

nav div {
    display: flex;
    margin: 10px;
    align-items:center; 
    width: 300px;
}

div a {
margin-left: auto;
margin-right: 5px;
}

main {
    display: flex;
    width: 100%;
    align-items:flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(83, 82, 82);
    margin: 15px;
}

.card img {
    width: 300px;
}




/* RODAPÉ DA PÁGINA */
footer {
    padding: 15px 0;
    background-color: mediumvioletred;
    display: flex;
    position:fixed;
    justify-content: center;
    bottom: 0;
    width: 100%;
}